<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
        
    <bean id="httpCommonPlugin" class="com.loris.soccer.processor.HttpTaskProcessor">
    	<constructor-arg ref="defaultSetting" />
    	<property name="name" value="HttpCommonClient Plugin"></property>
    </bean>
    
    <bean id="okoooHtmlUnitClient" class="com.loris.soccer.processor.HtmlUnitTaskProcessor">
    	<constructor-arg ref="defaultSetting" />
    	<constructor-arg ref="okoooWebPage" />
    	<property name="name" value="HttpUint Plugin"></property>
    </bean>
            
	<bean id="settingFactory" class="com.loris.client.fetcher.setting.SettingFactory">
		<property name="settings">
			<map>
				<entry key="default" value-ref="defaultSetting"></entry>
				<entry key="explorer" value-ref="explorerSetting"></entry>
				<entry key="chrome" value-ref="chromeSetting"></entry>
			</map>
		</property>
	</bean>
	
	<!-- 默认的网络客户端系统配置 -->
	<bean id="defaultSetting" class="com.loris.client.fetcher.setting.FetcherSetting">
		<property name="name" value="Default"></property>
		<property name="connectionTimeout" value="400000"></property>
		<property name="browser" value="FIREFOX_60"></property>
		<property name="interval" value="4500"></property>
	</bean>
	
	<!-- IE网络客户端系统配置 -->
	<bean id="explorerSetting" class="com.loris.client.fetcher.setting.FetcherSetting">
		<property name="name" value="Explorer"></property>
		<property name="connectionTimeout" value="400000"></property>
		<property name="browser" value="INTERNET_EXPLORER"></property>
		<property name="interval" value="4500"></property>
		<property name="headers">
			<map>
				<entry key="Accept" value="test"></entry>
				<entry key="User-agent" value="Mozilla/5.0 (Windows NT 6.1; Trident/7.0; rv:11.0) like Gecko"></entry>
			</map>
		</property>
	</bean>
	
	<!-- Chrome网络客户端系统配置 -->
	<bean id="chromeSetting" class="com.loris.client.fetcher.setting.FetcherSetting">
		<property name="name" value="Chrome"></property>
		<property name="connectionTimeout" value="400000"></property>
		<property name="browser" value="INTERNET_EXPLORER"></property>
		<property name="interval" value="4500"></property>
		<property name="headers">
			<map>
				<entry key="Accept" value="test"></entry>
				<entry key="User-agent" value="Mozilla/5.0 (Windows NT 6.1; Trident/7.0; rv:11.0) like Gecko"></entry>
			</map>
		</property>
	</bean>
	
	<bean id="okoooWebPage" class="com.loris.client.page.WebPage">
		<property name="pageid" value="okoooMainPage"></property>
		<property name="url" value="http://www.okooo.com/danchang/"></property>
		<property name="encoding" value="gb2312"></property>
	</bean>
</beans>