<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        ">
        
    <bean id="schedulerFactory" class="com.loris.client.scheduler.SchedulerFactory">
    	<property name="schedulers"> 
            <list>
            	<ref bean="schedulerInfo0" />
            </list>
        </property>
    </bean>
    
    <bean id="schedulerInfo0" class="com.loris.client.model.SchedulerInfo">
    	<property name="sid" value="1001-1001"/>
    	<property name="intervaltime" value="4000"/>
    	<property name="name" value="当日数据下载" />
    	<property name="type" value="zgzcw.downloader" />
    	<property name="maxActiveTaskThread" value="5" />
    	<property name="randTimeSeed" value="500" />
    </bean>
    
</beans>