@layout("/layout/_container.html"){
<style>
.content{
	text-align: center;
	width: 80%;
	min-width: 1100px;
	margin: auto;
}
.colname
{
	width: 20%;
	min-width: 150px;
}
.gridTable
{
	width: 100%;
}
</style>

<div class="content">
	<h1>数据下载</h1>
	<form id="settings">
		<div id="test"></div>
		<div id="buttons">
			<input type="button" value="提交" onclick="submitInfo();"/>
		</div>
	</form>
</div>

<script type="text/javascript" src="${ctxPath}/content/scripts/Config.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var conf = [];
	var el = {};
	el.id = 'name';
	el.type = 'input';
	el.name = '名称';
	el.value = '今日比赛';
	conf.push(el);
	
	el = {};
	el.id = 'interval';
	el.type = 'select';
	el.name = '数据'
	el.options = [{name:'1000',value:'1000'},
		{name:'2000',value:'2000'},
		{name:'3000',value:'3000'}];
	el.value = '2000';
	conf.push(el);
	initPage(conf);
});

function initPage(conf)
{
	var div = $("#test");
	Config.createHtml(div, conf, false);
}

function submitInfo()
{
	var values = getFormData('settings');
	alert(values);
}

function getFormData(eId)
{
    var inData = new Array();
    $("#" + eId).find("input").each(function () {
        if ($(this).attr("real-value") != null) {
            inData.push({"name": $(this).attr("name"), "value": $(this).attr("real-value").trim()});
        } else {
            inData.push({"name": $(this).attr("name"), "value": $(this).val().trim()});
        }
    });
    $("#" + eId).find("select").each(function () {
        inData.push({"name": $(this).attr("name"), "value": $(this).val().trim()});
    });
    $("#" + eId).find("textarea").each(function () {
        inData.push({"name": $(this).attr("name"), "value": $(this).val().trim()});
    });
    return inData;
}
</script>

@}