@layout("/layout/_container.html"){
<style>
.content{
	text-align: center;
	width: 80%;
	min-width: 1100px;
	margin: auto;
}
.colname
{
	width: 20%;
	min-width: 150px;
}
.gridTable
{
	width: 100%;
}
</style>

<div class="content">
	<h1>数据下载</h1>
	<form id="settings">
		<div id="test"></div>
		<div id="buttons">
			<input type="button" value="提交" onclick="submitInfo();"/>
		</div>
	</form>
</div>

<script type="text/javascript" src="${ctxPath}/content/scripts/Config.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var url = 'getConf';
	$.ajax({
		type: 'GET',
		url: url + '?sid=010a9616-329b-4aa1-b20e-741894cec395',
		dataType:"json",
		success:function(json){
			if('200' == json.status) initPage(json.data);
		},
		error:function(jqXHR){
	        alert("发生错误："+ jqXHR.status);
	    }
	});
});

function initPage(conf)
{
	var div = $("#test");
	Config.createHtml(div, conf, false);
}

function submitInfo()
{
	$.ajax({
    	//几个参数需要注意一下
        type: "GET",//方法类型
        dataType: "json",//预期服务器返回的数据类型
        url: "createScheduler" ,//url
        data: $('#settings').serialize(),
        success: function (result) {
            if (result.status == 200) {
                alert("SUCCESS");
            }
        },
        error : function() {
            alert("异常！");
        }
    });
}

function getFormData(eId)
{
    var inData = new Array();
    $("#" + eId).find("input").each(function () {
        if ($(this).attr("real-value") != null) {
            inData.push({"name": $(this).attr("name"), "value": $(this).attr("real-value").trim()});
        } else {
            inData.push({"name": $(this).attr("name"), "value": $(this).val().trim()});
        }
    });
    $("#" + eId).find("select").each(function () {
        inData.push({"name": $(this).attr("name"), "value": $(this).val().trim()});
    });
    $("#" + eId).find("textarea").each(function () {
        inData.push({"name": $(this).attr("name"), "value": $(this).val().trim()});
    });
    return inData;
}
</script>

@}